/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "zmk-helpers/helper.h"
#include "includes/cornix54.h"

// tap windows for ctl alt and gui

#define HM_TAPPING_TERM 250
#define HM_TAPPING_REPEAT 210

// quick tapping for shift

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000
#define ZMK_POINTING_DEFAULT_SCRL_VAL 500
#define HM_TAPPING_TERM_FAST 200
#define HM_PRIOR_IDLE 70
#define BASE 0
#define WIN 1
#define LOWER 2
#define RAISE 3
#define ADJUST 4
#define NAVI   5
#define NUM    6
#define DEBUG  7

// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right hand
#define THUMBS LH1 LH0 RH0 RH1
#define KEYS_T LH1 LH0 RH0 RH1
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    /* 스크롤 스케일러 */

    zip_scroll_scaler: zip_scroll_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_WHEEL INPUT_REL_HWHEEL>;
        track-remainders;
    };

    /* 방금 추가한 마우스 XY 스케일러 */

    zip_xy_scaler: zip_xy_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <INPUT_EV_REL>;
        codes = <INPUT_REL_X INPUT_REL_Y>;
    };
}; // <--- ★★★ 여기 세미콜론(;)과 괄호(})가 반드시 있어야 합니다!
&mmv_input_listener {
    /* 레이어 2일 때는 1/5로 줄여라! */

    layer_slow {
        layers = <2>;
        input-processors = <&zip_xy_scaler 25 100>;
    };

    /* 레이어 1일 때는 3/2(1.5배)로 늘려라! */

    layer_fast {
        layers = <1>;
        input-processors = <&zip_xy_scaler 150 100>;
    };
};

/* 2. ★추가됨★ 스크롤 리스너 (Layer 2 -> 1/5 감속) */

&msc_input_listener {
    /* 기본은 1:1 (위 define값 40 사용) */

    input-processors = <&zip_scroll_scaler 4 1>;

    /* Layer 2가 켜지면 스크롤도 정밀하게 (1/5 속도) */

    layer_sniper_scroll {
        layers = <2>;
        input-processors = <&zip_scroll_scaler 2 4>;
    };
};

&msc {
    acceleration-exponent = <2>;      // 0
    time-to-max-speed-ms = <0>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <2>;
};

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    // Activate ADJUST layer by pressing raise and lower

    behaviors {
        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <150>;                // repeat on tap-into-hold
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_L KEYS_T>;
            hold-trigger-on-release;
        };

        // Positional Homerow mods for shift
        // Use faster tapping term and disable some features that may
        // cause false negatives.

        hm_shift_l: hm_shift_l {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            //flavor = "balanced";

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_R KEYS_T>;
            hold-trigger-on-release;
        };

        hm_shift_r: hm_shift_r {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            hold-trigger-key-positions = <KEYS_L KEYS_T>;

            // for quick tapping; shift+~

            hold-trigger-on-release;
        };

        /*
         * Non-Positional Homerow Mods
         * Used for &mm_grescm_gui behavior on left hand.
         *
         * Usage: &hm LSHFT T
         * Tap: T
         * Tap-Tap-Hold: Repeat T
         * Hold: LSHIFT
         */

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "hold-preferred";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <160>;
        };

        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "tap-preferred";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <170>;
            require-prior-idle-ms = <125>;
            retro-tap;
            hold-trigger-key-positions = <6 7 8 9 11 10 18 19 20 21 22 31 32 33 34 35 36 23 23 37 49 44 45 46 47 48>;
        };

        lt_layer: lt_layer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            label = "LT_LAYER";
        };

        lt_left: lt_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "tap-preferred";
            tapping-term-ms = <HM_TAPPING_TERM>;
            quick-tap-ms = <170>;
            require-prior-idle-ms = <125>;
            retro-tap;
            label = "LT_LEFT";
            hold-trigger-key-positions = <0 1 2 4 5 3>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        cb_ltm {
            bindings = <&kp ESC>;
            key-positions = <2 4>;
            layers = <0 1>;
        };

        cb_lm {
            bindings = <&kp TAB>;
            key-positions = <14 16>;
            layers = <0 1>;
        };

        cb_enter {
            bindings = <&kp RET>;
            key-positions = <21 19>;
            layers = <0 1>;
        };

        layer3 {
            bindings = <&kp N3>;
            key-positions = <5 6>;
        };

        layer4 {
            bindings = <&kp N4>;
            key-positions = <5 6>;
        };

        mouseIn {
            bindings = <&to 1>;
            key-positions = <25 14 26 3 15 2 13>;
            layers = <0>;
        };

        mouseOut {
            bindings = <&to 0>;
            key-positions = <14 25 3 15 26 13 2>;
            layers = <1 2>;
        };

        toKorEng {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <36 21>;
        };

        toKorEng2 {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <49 44>;
        };

        tke3 {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <44 37>;
        };

        tk34 {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <43 38>;
        };

        tke5 {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <43 24>;
        };

        comma {
            bindings = <&kp F16>;
            key-positions = <35 36>;
        };

        kte {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <45 36>;
        };

        ee {
            bindings = <&to 1>;
            key-positions = <26 42 25 14>;
            layers = <0>;
        };

        eee {
            bindings = <&to 0>;
            key-positions = <26 42 14 25>;
            layers = <1 2>;
        };

        eew {
            bindings = <&to 1>;
            key-positions = <42 25 14>;
            layers = <0>;
        };

        eeew {
            bindings = <&to 0>;
            key-positions = <42 25 14>;
            layers = <1 2>;
        };

        ssee {
            bindings = <&to 1>;
            key-positions = <42 14 13>;
            layers = <0>;
        };

        eesszkl {
            bindings = <&to 0>;
            key-positions = <42 14 13>;
            layers = <1 2>;
        };

        hy {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <45 35>;
        };

        hy2 {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <45 48>;
        };

        hy3 {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <48 44>;
        };

        hy4 {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <45 49>;
        };

        hy5 {
            bindings = <&kp RIGHT_ALT>;
            key-positions = <44 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "BASE";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&hm ESCAPE TAB    &kp Q           &kp W         &kp E    &kp R    &kp T                                         &kp Y              &kp U         &kp I         &kp O         &kp P            &kp DELETE
&kp ESCAPE        &kp A           &lt 4 S       &lt 4 D  &lt 4 F  &kp G                                         &kp H              &lt_left 4 J  &lt_left 4 K  &lt_left 4 L  &kp SEMICOLON    &kp ENTER
&kp LEFT_SHIFT    &lt 1 Z         &kp X         &kp C    &kp V    &kp B                  &kp C_MUTE  &mkp LCLK  &kp N              &kp M         &kp COMMA     &kp DOT       &kp SLASH        &kp RSHFT
&kp LEFT_CONTROL  &lt 6 LEFT_WIN  &kp LEFT_ALT  &mo 4    &mo 3    &lt_layer 1 BACKSPACE                         &lt_layer 6 SPACE  &mo 5         &mo 7         &kp LEFT_ALT  &kp PRINTSCREEN  &kp RIGHT_CONTROL
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp C_BRI_INC C_BRI_DEC>;
        };

        mouse_fast {
            display-name = "mFAST";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&trans  &none           &mkp MCLK      &msc SCRL_UP    &kp LC(C)  &kp LC(V)                        &kp PRINTSCREEN  &kp LALT        &mmv MOVE_UP    &kp TAB          &none            &trans
&to 0   &msc SCRL_LEFT  &mkp RCLK      &msc SCRL_DOWN  &mkp LCLK  &msc SCRL_RIGHT                  &kp LC(Z)        &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mo 2            &trans
&trans  &mo 2           &kp LC(MINUS)  &kp LC(PLUS)    &kp LC(A)  &kp LC(X)        &trans  &trans  &kp LS(LC(Z))    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW     &kp RIGHT_ARROW  &trans
&trans  &mo 2           &trans         &trans          &mo 2      &msc SCRL_UP                     &mo 2            &mo 2           &trans          &none            &trans           &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        mouse_slow {
            display-name = "mSLOW";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        Symbol {
            display-name = "SYMB";

            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1  | BT2  |  BT3  |  BT4  |  BT5 |                |      |      |       |      |       |       |
            // |       | INS  | PSCR | GUI   |       |      |                | PGUP |      |   ^   |      |       |       |
            // |       | ALT  | CTRL | SHIFT |       | CAPS |                | PGDN |   <- |   v   |  ->  |  DEL  | BKSPC |
            // |       | UNDO | CUT  | COPY  | PASTE |      |      |  |      |      |      |       |      |       |       |
            //                |      |       |       |      |      |  |      |      |      |       |      |

            bindings = <
&kp GRAVE  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH          &kp DOLLAR         &kp PERCENT                  &kp LCTRL             &kp AMPERSAND  &kp ASTERISK    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans     &trans           &kp F14      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp N1                       &kp NON_US_BACKSLASH  &kp EQUAL      &kp PLUS        &kp SQT               &kp DQT                &trans
&trans     &trans           &kp F13      &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp N0       &trans  &trans  &kp PIPE              &kp MINUS      &kp UNDERSCORE  &kp TILDE             &kp QUESTION           &trans
&none      &none            &none        &trans            &trans             &trans                       &trans                &mo 7          &trans          &none                 &none                  &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        numbers {
            display-name = "NUMB";

            // ----------------------------------------------------------------------------------------------------------------------------
            // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
            // | moDEBUG| RGB_HUD | RGB_HUI | RGB_SAD | RGB_SAI | RGB_EFF |                  |      |      |       |      |       |       |
            // | EXTPWR | RGB_BRD | RGB_BRI |         |         |         |                  |      |      |       |      |       |       |
            // |        |         |         |         |         |         | RGB_TOG | |      |      |      |       |      |       |       |
            //                    |         |         |         |         |         | |      |      |      |       |      |

            bindings = <
&none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                   &kp NUMBER_6  &kp N7        &kp N8        &kp N9        &kp N0   &kp BACKSPACE
&none  &kp F6        &kp F7        &kp F8        &kp F9        &kp F10                  &none         &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp F15  &kp BACKSPACE
&none  &kp F11       &kp F12       &none         &kp F11       &kp F12  &trans  &trans  &kp N0        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N0   &kp BACKSPACE
&none  &none         &none         &none         &mo 4         &mo 4                    &trans        &kp N0        &kp N0        &none         &none    &none
            >;
        };

        Adjust_layer {
            display-name = "ADJ";
            bindings = <
&trans  &kp F1   &kp F2   &kp F3  &kp F4   &kp F5                   &kp PRINTSCREEN  &kp LALT  &kp UP_ARROW    &kp TAB    &none  &trans
&trans  &kp F6   &kp F7   &kp F8  &kp F9   &kp F10                  &kp LC(Z)        &kp LEFT  &kp DOWN_ARROW  &kp RIGHT  &none  &trans
&trans  &kp F11  &kp F12  &none   &kp F11  &kp F12  &trans  &trans  &kp LS(LC(Z))    &none     &none           &none      &none  &trans
&trans  &trans   &trans   &trans  &mo 4    &mo 4                    &trans           &trans    &trans          &none      &none  &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp PG_UP PG_DN>;
        };

        Bluetooth {
            display-name = "BLE";

            // ----------------------------------------------------------------------------------------------------------------------------
            // | BTCLR  |  BT1    |  BT2    |   BT3   |   BT4   |   BT5   |                  |      |      |       |      |       |       |
            // | EXTPWR | BTCLR | RGB_HUI | RGB_SAD | RGB_SAI | RGB_EFF |                  |      |      |       |      |       |       |
            // |        | RGB_BRD | RGB_BRI |         |         |         |                  |      |      |       |      |       |       |
            // |        |         |         |         |         |         | RGB_TOG | |      |      |      |       |      |       |       |
            //                    |         |         |         |         |         | |      |      |      |       |      |

            bindings = <
&bt BT_CLR      &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4                   &none        &none  &none   &none  &none  &none
&to 0           &none          &none          &none          &none          &none                          &none        &none  &none   &none  &none  &none
&bt BT_CLR_ALL  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4  &trans  &trans  &bootloader  &none  &none   &none  &none  &none
&none           &none          &none          &none          &none          &none                          &none        &none  &kp N7  &none  &none  &none
            >;
        };

        orinum {
            display-name = "oNUM";
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                  &kp NUMBER_6  &kp N7  &kp N8  &kp N9  &kp N0  &trans
&trans  &trans        &trans        &trans        &trans        &trans                  &trans        &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans        &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans        &trans        &mo 4         &mo 4                   &trans        &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
